dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="be2b0313-1cef-42d7-94a7-d64b9e0cf987" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="c3319130-ca36-4d6a-8615-8fb8876292f3" >
		<http:listener doc:name="Listener" doc:id="6a624b19-6c4f-4406-b7e1-a9e56bcc0f6c" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hello Git"]' doc:name="Set Payload" doc:id="a74e2b6e-e6a4-481d-99bb-a0b07a5c7470" />
	</flow>
</mule>
